{% assign certificates = site.data.data.certificates %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% if certifications.intro %}
  <div class="intro">
      <p>{{ certifications.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in certifications.assignments %}
    <div class="item">

      <span class="project-title">
        {% if certifications.link %}
        <a href="{{ certifications.link }}" target="_blank">{{ certifications.title }}</a>
        {% else %}
        {{ certifications.title }}
        {% endif %}
      </span>

      {% if certifications.tagline %}
      - <span class="project-tagline">{{ certifications.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
